* {
    margin: 0;
    padding: 0;
   }
h1{
    color: seagreen;
}
#box1 {
    width: 80px;
    display: inline-block;
    background-color: rgb(197, 226, 238);
    border:1px solid rgb(11, 162, 221);
    padding:10px 22px 10px 36px;
    margin: 5px 50px;
}
#box2 {
    width: 80px;
    display: inline-block;
    background-color: rgb(197, 226, 238);
    border:1px solid rgb(11, 162, 221);
    padding:10px 22px 10px 36px;
    margin: 5px 50px;
}
#box3 {
    width: 80px;
    display: inline-block;
    background-color: rgb(197, 226, 238);
    border:1px solid rgb(11, 162, 221);
    padding:10px 22px 10px 36px;
    margin: 5px 50px;
}

input{
    display: inline;
}
a{
    width: 35px;
    margin:10px 122px;
    display: block;
    background-color: rgb(208, 231, 172);
    border:1px solid rgb(90, 139, 16);
    padding:5px 15px;
}